@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: #16213e;
  background-repeat: no-repeat;
  background-position: cover;
  min-height: 90vh;
  color: white;
}

header {
  font-size: 5rem;
  position: relative;
  z-index: 1;
}

header h1 {
  text-align: center;
  padding: 1.5rem 1rem;
  margin: 8rem auto 1rem auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 30vh;
}

form input {
  background-color: white;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

form input:focus {
  outline: none;
}

form button {
  background-color: #278ea5;
  border: none;
  font-size: 2rem;
  padding: 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form button i {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  height: 100%;
}

form button:hover {
  color: #1f1155;
  background-color: #fff;
}

form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: auto 2rem;
  padding: 1rem;
  width: 12rem;
}

form select option {
  font-size: 1.5rem;
}

.select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select::after {
  content: "\25BC";
  position: absolute;
  color: white;
  top: 0;
  right: 5%;
  font-size: 1.5rem;
  padding: 1rem;
  pointer-events: none;
  background-color: #1f1155;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.todo {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  min-width: 30vh;
}

.todo li {
  margin: auto 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
  color: black;
  padding: auto 2rem;
}

.todo button {
  cursor: pointer;
  border: none;
  min-height: 100%;
  padding: 1rem;
  font-size: 2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.trash-btn {
  background-color: #e94560;
  color: white;
}

.trash-btn:hover {
  background-color: #ad3549;
}

.comp-btn {
  background-color: #21e6c1;
  color: #16213e;
}

.comp-btn:hover {
  background-color: #1db498;
}

i {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.7;
  color: black;
  font-style: oblique;
}
/*# sourceMappingURL=style.css.map */